# auth-service Environment Variables
NODE_ENV=development
PORT=3001
LOG_LEVEL=debug

# Neon PostgreSQL
DATABASE_URL=postgresql://USER:PASS@ep-xxx.neon.tech/auth_db?sslmode=require
DATABASE_DIRECT_URL=postgresql://USER:PASS@ep-xxx-direct.neon.tech/auth_db?sslmode=require

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=bankflow_redis_secret

# Kafka
KAFKA_BROKERS=localhost:9092

# RabbitMQ
RABBITMQ_URL=amqp://bankflow:bankflow_rabbit_secret@localhost:5672/bankflow
